aiohappyeyeballs==2.5.0
aiohttp
aiosignal==1.3.2
async-timeout==5.0.1
attrs==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
discord.py==2.5.2
emoji
frozenlist==1.5.0
idna==3.10
multidict
propcache
python-dotenv
requests
typing_extensions
urllib3
yarl
